@import '../../../../src/light-theme.scss';
@import '../../../../src/dark-theme.scss';

.page-link {
    cursor: pointer;
}

.pkmn-link {
    cursor: pointer;
}

.left-panel-loading {
    margin-top: 50%;
}
