<nav id="navbar" class="navbar navbar-default fixed-top">
    <div class="container-fluid">
        <div class="row align-items-center w-100">
            <div class="col-2 justify-content-center">
                <a routerLink="" routerLinkActive="active" class="fs-4 fw-bold">
                    <fa-icon [icon]="faHome"></fa-icon> Home
                </a>
            </div>
            <div class="col-2 h-100">
                <a routerLink="settings" routerLinkActive="active" class="fs-4 fw-bold">
                    <fa-icon [icon]="faCog"></fa-icon> Settings
                </a>
            </div>
            <div class="col-7 h-100">
                <div class="input-group">
                    <form #form="ngForm" (ngSubmit)="searchPkmn()" class="w-100">
                        <div class="input-group">
                            <fa-icon class="input-group-text search-icon" [icon]="faSearch"></fa-icon>
                            <input
                            autocomplete="off"
                            [(ngModel)]="pkmnToSearch"
                            type="text"
                            name="pkmnToSearch"
                            class="search-input"
                            placeholder="Search..."
                            aria-label="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>