@import '../../../colors';

.attribute-block {
    border-radius: 5px;
}

.attribute-title {
    border-radius: 5px;
}

.hp {
    color: $dark;
    background-color: #A0F0A0;
}

.atk {
    color: $dark;
    background-color: #F0A0A0;
}

.def {
    color: $dark;
    background-color: #F0F0A0;
}

.atksp {
    color: $dark;
    background-color: #F8C8A0;
}

.defsp {
    color: $dark;
    background-color: #E8C868;
}

.vit {
    color: $dark;
    background-color: #A0F0F0;
}

.hidden-ability {
    background-color: gray;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.move-table thead tr th {
    background-color: black;
    color: white;
}